# A movie website clone made to  watch movie and that will display 5 other movies as per the user interest

In [1]:
import numpy as np
import pandas as pd
import ast
import pickle

https://www.kaggle.com/datasets/shubhammehta21/movie-lens-small-latest-dataset

In [2]:
main_data=pd.read_csv(r"C:\Users\WELCOME\Desktop\ML\links.csv")
main_data1=pd.read_csv(r"C:\Users\WELCOME\Desktop\ML\movies.csv")
main_data2=pd.read_csv(r"C:\Users\WELCOME\Desktop\ML\tags.csv")

In [3]:
main_data

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [4]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [5]:
main_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
main_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [7]:
main_data.dropna(inplace=True)
main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9734 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9734 non-null   int64
 1   imdbId   9734 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 304.2 KB

In [8]:
main_data = main_data.merge(main_data1,on='movieId',how="inner")
main_data = main_data.merge(main_data2,on='movieId',how="inner")

In [9]:
main_data

,movieId,imdbId,tmdbId,title,genres,userId,tag,timestamp
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013
3,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,62,fantasy,1528843929
4,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,62,magic board game,1528843932
...,...,...,...,...,...,...,...,...
3678,187595,3778644,348350.0,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62,star wars,1528934552
3679,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,anime,1537098582
3680,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,comedy,1537098587
3681,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,gintama,1537098603
3682,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,remaster,1537098592

In [10]:
main_data=main_data.drop_duplicates(subset='title', keep="last")

In [11]:
main_data.reset_index(drop=True, inplace=True)
main_data

,movieId,imdbId,tmdbId,title,genres,userId,tag,timestamp
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,474,game,1137375552
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance,289,old,1143424860
3,5,113041,11862.0,Father of the Bride Part II (1995),Comedy,474,remake,1137373903
4,7,114319,11860.0,Sabrina (1995),Comedy|Romance,474,remake,1137375642
...,...,...,...,...,...,...,...,...
1567,183611,2704998,445571.0,Game Night (2018),Action|Comedy|Crime|Horror,62,Rachel McAdams,1526244709
1568,184471,1365519,338970.0,Tomb Raider (2018),Action|Adventure|Fantasy,62,video game adaptation,1528024898
1569,187593,5463162,383498.0,Deadpool 2 (2018),Action|Comedy|Sci-Fi,62,sarcasm,1527274090
1570,187595,3778644,348350.0,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62,star wars,1528934552
1571,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,remaster,1537098592

In [12]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572 entries, 0 to 1571
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    1572 non-null   int64
 1   imdbId     1572 non-null   int64
 2   tmdbId     1572 non-null   float64
 3   title      1572 non-null   object
 4   genres     1572 non-null   object
 5   userId     1572 non-null   int64
 6   tag        1572 non-null   object
 7   timestamp  1572 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 98.4+ KB

In [13]:
#main_data = main_data[['movieId','tmdbId','title','genres','rating','tag']]
main_data = main_data[['movieId','tmdbId','title','genres','tag']]

main_data["Year"]=main_data["title"].str[-5:-1:1]
main_data

C:\Users\WELCOME\AppData\Local\Temp\ipykernel_9384\3109327048.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_data["Year"]=main_data["title"].str[-5:-1:1]

,movieId,tmdbId,title,genres,tag,Year
0,1,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun,1995
1,2,8844.0,Jumanji (1995),Adventure|Children|Fantasy,game,1995
2,3,15602.0,Grumpier Old Men (1995),Comedy|Romance,old,1995
3,5,11862.0,Father of the Bride Part II (1995),Comedy,remake,1995
4,7,11860.0,Sabrina (1995),Comedy|Romance,remake,1995
...,...,...,...,...,...,...
1567,183611,445571.0,Game Night (2018),Action|Comedy|Crime|Horror,Rachel McAdams,2018
1568,184471,338970.0,Tomb Raider (2018),Action|Adventure|Fantasy,video game adaptation,2018
1569,187593,383498.0,Deadpool 2 (2018),Action|Comedy|Sci-Fi,sarcasm,2018
1570,187595,348350.0,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,star wars,2018
1571,193565,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,remaster,2010

In [14]:
main_data["title"]=main_data["title"].str[:-7]
main_data

C:\Users\WELCOME\AppData\Local\Temp\ipykernel_9384\4281681577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_data["title"]=main_data["title"].str[:-7]

,movieId,tmdbId,title,genres,tag,Year
0,1,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,fun,1995
1,2,8844.0,Jumanji,Adventure|Children|Fantasy,game,1995
2,3,15602.0,Grumpier Old Men,Comedy|Romance,old,1995
3,5,11862.0,Father of the Bride Part II,Comedy,remake,1995
4,7,11860.0,Sabrina,Comedy|Romance,remake,1995
...,...,...,...,...,...,...
1567,183611,445571.0,Game Night,Action|Comedy|Crime|Horror,Rachel McAdams,2018
1568,184471,338970.0,Tomb Raider,Action|Adventure|Fantasy,video game adaptation,2018
1569,187593,383498.0,Deadpool 2,Action|Comedy|Sci-Fi,sarcasm,2018
1570,187595,348350.0,Solo: A Star Wars Story,Action|Adventure|Children|Sci-Fi,star wars,2018
1571,193565,71172.0,Gintama: The Movie,Action|Animation|Comedy|Sci-Fi,remaster,2010

In [15]:
main_data["genres"]=main_data["genres"].str.split('|')

C:\Users\WELCOME\AppData\Local\Temp\ipykernel_9384\482761675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_data["genres"]=main_data["genres"].str.split('|')

In [16]:
main_data

,movieId,tmdbId,title,genres,tag,Year
0,1,862.0,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",fun,1995
1,2,8844.0,Jumanji,"[Adventure, Children, Fantasy]",game,1995
2,3,15602.0,Grumpier Old Men,"[Comedy, Romance]",old,1995
3,5,11862.0,Father of the Bride Part II,[Comedy],remake,1995
4,7,11860.0,Sabrina,"[Comedy, Romance]",remake,1995
...,...,...,...,...,...,...
1567,183611,445571.0,Game Night,"[Action, Comedy, Crime, Horror]",Rachel McAdams,2018
1568,184471,338970.0,Tomb Raider,"[Action, Adventure, Fantasy]",video game adaptation,2018
1569,187593,383498.0,Deadpool 2,"[Action, Comedy, Sci-Fi]",sarcasm,2018
1570,187595,348350.0,Solo: A Star Wars Story,"[Action, Adventure, Children, Sci-Fi]",star wars,2018
1571,193565,71172.0,Gintama: The Movie,"[Action, Animation, Comedy, Sci-Fi]",remaster,2010

In [17]:
main_data['tag'] = main_data['tag'].apply(lambda x:x.split())

C:\Users\WELCOME\AppData\Local\Temp\ipykernel_9384\268017550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_data['tag'] = main_data['tag'].apply(lambda x:x.split())

In [18]:
main_data

,movieId,tmdbId,title,genres,tag,Year
0,1,862.0,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",[fun],1995
1,2,8844.0,Jumanji,"[Adventure, Children, Fantasy]",[game],1995
2,3,15602.0,Grumpier Old Men,"[Comedy, Romance]",[old],1995
3,5,11862.0,Father of the Bride Part II,[Comedy],[remake],1995
4,7,11860.0,Sabrina,"[Comedy, Romance]",[remake],1995
...,...,...,...,...,...,...
1567,183611,445571.0,Game Night,"[Action, Comedy, Crime, Horror]","[Rachel, McAdams]",2018
1568,184471,338970.0,Tomb Raider,"[Action, Adventure, Fantasy]","[video, game, adaptation]",2018
1569,187593,383498.0,Deadpool 2,"[Action, Comedy, Sci-Fi]",[sarcasm],2018
1570,187595,348350.0,Solo: A Star Wars Story,"[Action, Adventure, Children, Sci-Fi]","[star, wars]",2018
1571,193565,71172.0,Gintama: The Movie,"[Action, Animation, Comedy, Sci-Fi]",[remaster],2010

In [19]:
main_data["tag"]=main_data["tag"]+main_data["genres"]

C:\Users\WELCOME\AppData\Local\Temp\ipykernel_9384\3158736236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_data["tag"]=main_data["tag"]+main_data["genres"]

In [20]:
main_data

,movieId,tmdbId,title,genres,tag,Year
0,1,862.0,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]","[fun, Adventure, Animation, Children, Comedy, ...",1995
1,2,8844.0,Jumanji,"[Adventure, Children, Fantasy]","[game, Adventure, Children, Fantasy]",1995
2,3,15602.0,Grumpier Old Men,"[Comedy, Romance]","[old, Comedy, Romance]",1995
3,5,11862.0,Father of the Bride Part II,[Comedy],"[remake, Comedy]",1995
4,7,11860.0,Sabrina,"[Comedy, Romance]","[remake, Comedy, Romance]",1995
...,...,...,...,...,...,...
1567,183611,445571.0,Game Night,"[Action, Comedy, Crime, Horror]","[Rachel, McAdams, Action, Comedy, Crime, Horror]",2018
1568,184471,338970.0,Tomb Raider,"[Action, Adventure, Fantasy]","[video, game, adaptation, Action, Adventure, F...",2018
1569,187593,383498.0,Deadpool 2,"[Action, Comedy, Sci-Fi]","[sarcasm, Action, Comedy, Sci-Fi]",2018
1570,187595,348350.0,Solo: A Star Wars Story,"[Action, Adventure, Children, Sci-Fi]","[star, wars, Action, Adventure, Children, Sci-Fi]",2018
1571,193565,71172.0,Gintama: The Movie,"[Action, Animation, Comedy, Sci-Fi]","[remaster, Action, Animation, Comedy, Sci-Fi]",2010

In [21]:
main_data['tag'] = main_data['tag'].apply(lambda x: " ".join(x))

C:\Users\WELCOME\AppData\Local\Temp\ipykernel_9384\1692134656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_data['tag'] = main_data['tag'].apply(lambda x: " ".join(x))

In [22]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572 entries, 0 to 1571
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  1572 non-null   int64
 1   tmdbId   1572 non-null   float64
 2   title    1572 non-null   object
 3   genres   1572 non-null   object
 4   tag      1572 non-null   object
 5   Year     1572 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 73.8+ KB

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
c = CountVectorizer(max_features=1000,stop_words='english')

In [24]:
v = c.fit_transform(main_data['tag']).toarray()
v

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
s = cosine_similarity(v)

In [27]:
def func(movie):
    ind = main_data[main_data['title'] == movie].index[0]
    d = sorted(list(enumerate(s[ind])),reverse=True,key = lambda x: x[1])
    for i in d[0:6]:
        print(main_data.iloc[i[0]].title)

In [28]:
pickle.dump(main_data,open('movieNames.pkl','wb'))
pickle.dump(s,open('others.pkl','wb'))